<div class="container custom-container-2">
  <!-- Show it when there is no blog -->
  <div>
    <a class="btn btn-info" routerLink="/create-blog" style="float: right">Add new Post</a>
  </div>
  <div class="no-data text-center" *ngIf="Blog.length == 0">
    <p>There is no blog added yet!</p>
    <a class="btn btn-outline-info" routerLink="/create-blog">Add new Post</a>
  </div>
  <!-- Blogs list table, it hides when there is no blog -->
  <div *ngIf="Blog.length !== 0">
    <div class="container">
      <h3>Total Posts:<span style="color: lightseagreen">{{Blog.length}}</span></h3>
    </div>
    <div  *ngFor="let blog of Blog" class="container">
      <h1>{{blog.title}}</h1>
      <h4 style="font-style: italic; font-size: 20px;">{{blog.description}}</h4>
      <div>
          <img style="width: 220px;" src="{{blog.image}}">
      </div>
      <div style="width: 10%; margin-top: 10px; margin-left: 20px;" class="more btn btn-info" routerLink="/blog-details/{{blog.id}}">More...</div>
    </div>
  </div>