<div class="container">
    <h1>{{pageTitle}}</h1>
  </div>
  
  <div class="container">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <div class="form-group form-row">
        <label class="col-md-3">Name<span class="required">*</span></label>
        <div class="col-md-9">
          <input type="text" formControlName="name" class="form-control" placeholder="Your name" required>
          <div class="validation-error" *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors">
              Name is required.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group form-row">
          <label class="col-md-3">Comment<span class="required">*</span></label>
          <div class="col-md-9">
            <textarea formControlName="comment" rows="5" class="form-control" placeholder="Comment" required></textarea>
            <div class="validation-error" *ngIf="comment.invalid && (comment.dirty || comment.touched)">
              <div *ngIf="comment.errors">
                  Comment is required.
              </div>
            </div>
          </div>
      </div>
      <div class="form-group form-row">
          <label class="col-md-3"></label>
          <div class="col-md-9">
            <input type="hidden" formControlName="id">
            <button type="submit" [disabled]="!commentForm.valid" class="btn btn-primary">Save</button>
          </div>
        </div>
    </form>
  </div>
  
